.Signup {
  width: 100%;
  border: 1px solid #eee;
  block-size: border-box;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  text-align: center;
}
.Signup input {
  display: block;
  margin: 2px auto;
  font-size: 18px;
  padding: 5px;
  font-size: 20px;
}
